* {
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

img .icone {
width: 10%;
position: relative;
top: -151px;
z-index: 10;
}

.logo {
  width: 50%;
  left: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}

.product {
  margin-bottom: 10px;
}

.main-footer {
  width: 100%;
  padding: 30px 0;
}

.row {
  width: 100%;
}

.menu {
  width: 78%;
  margin: 0 auto;
}

.tarja {
  position: relative;
  top: -125px;
  color: #6f19ff;
  text-transform: uppercase;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.nav-tabs>li>a {
  color: #6f19ff;
}

.icone {
  width: 10%;
  position: absolute;
  top: 26%;
  left: 44%;
}

.product {
  position: relative;
}

@media (max-width:800px) {

.main-nav ul li {
  width: 100%
  border-bottom: none;
}

.product {
  width: 100%;
  margin-right: 2%
}

.banner {
  display: none;
}

.product a {
  width: 100%;
}

footer ul {
  padding: 0;
}

 footer ul li {
   width: 100%
   padding: 15px;
 }

a {
    color: #6f19ff;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
    color: #555;
  }

@media (max-width:1180px) {

.main-nav ul li {
  width: 125px;
  float: none;
  display: inline-block;
  margin-right: 2%;
}

.container {
  max-width: 100%;
  padding: 0 20px;
}

.product {
  width: 48%;
  float: left;
  margin-right: 2%;
}

.product:nth-child(3n){
  margin-right: 2%;
}

.product:nth-child(2n){
  margin-right: 0;
}

img .icone {
width: 10%;
position: relative;
top: -151px;
}

}
